
h2{
    text-decoration: none;
    color: blue;
    text-shadow: 2px 2px 2px; color:(black);
}


.incio{
margin-top: 10px 10px;
width: 350px;
height: 350;
font-size: 24px;
color: blue;
text-shadow: 2px 2px 2px color(black);



}